body,html {
    height: 100%; /*important */
    /* width: 100%; */
    margin: 0;
    font-family: "Roboto", Sans-serif;
  }
  .tp-sub-nav{
    position: relative;  
    margin-top: -20px;
    z-index: -1;
  } 
  .top-sub-nav{
    position: absolute; 
    top: 0;
    margin-top: -8px;
    z-index: 1;     
    background-color: #232F3E;
  }
  #horizontal-line{
    margin-top: 4px;
   
    height:1px;
    background-color: black;
   
  }
 .nav-item > a
 { 
  color: #ffffff;
  }
 .left-section
 {
  /* border: 2px solid pink; */
  width:200px;
 }
 
 .sub-img{
  width :60px;
  height: 160px;
 }
 .yellow-star {
  color: orange; /* or you can use a hex code like #FFD700 */
}
.bordered-star {
  color:transparent; /* Fill color */
  -webkit-text-stroke: 2px orange; /* Border color and thickness */
}
.sub-head{
  margin-left: 20px;
  margin-right: 20px;
}
.left-section
{
  margin-left: 20px;
  
}
.right-section
{
  margin-right: 20px;
}
.sub-list{
  padding-top: 15px;
  line-height: 1.0;
}
#line{
  border: 0px solid;
  padding: 1px;
  box-shadow: 0px 1px;
}
.sub-img-on {
  object-fit: fill; /* Ensures the image covers the div */
         /* Fills the width of the div */
  height: 50%;
  box-shadow: 10px 5px 5px #888888;
}
.special-card
{
  position: relative;  
  margin-left: -5px;
  z-index: -1; 
    
}